* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  background: var(--Very-Dark-Blue, #131518);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
